/* body {
  background: #fff;
  color: #000;
  font-family: futura;
  font-size: 24px;

}

/* .pre{
  max-width: 300px;
/* } */

/* #typewriter {
    color: #31708f;
    background-color: #d9edf7;
    padding: 15px;
    border: none;
    ...
}

#typewriter-prefix {
    font-size: 24px;
    font-weight: 700;
    ...
}

#typewriter-text {
    font-size: 24px;
    font-weight: 500;
    ...
} */
#bubble-1 {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    line-height: 30px;
    height: 140px;
    padding: 20px 10px;
}
